<html>
    <head>
    </head>
    <body>
        <table id="main">
            <tr id="title">
                {{#title}}
                <td>{{.}}</td>
                {{/title}}
            </tr>
            {{#data}}
            <tr id="{{id}}">
                    {{#dataArray}}
                    <td>{{.}}</td>
                    {{/dataArray}}
                </tr>
            {{/data}}
        </table>
        <div id="controls">
            <span id="addRow">
                <a href="#" id="addButton">Add Row</a>
            </span>
        </div>
    </body>
</html>
