<html>
    <head>
        <script src="static/page.js"></script>
        <link rel="stylesheet" type="text/css" href="static/page.css">
    </head>
    <body>
        <table id="mainTable" data-columnscount="{{ColumnsCount}}">
            <tr id="title">
                <th>Row</th>
                {{#title}}
                <th id="title_{{TitleIndex}}">
                    {{Value}}
                </th>
                {{/title}}
            </tr>
        </table>
        <div id="controls">
            <span id="addRow">
                <button id="addButton">Add Row</button>
            </span>
        </div>
    </body>
</html>
